@model WebApplication1.ViewModels.DashboardViewModel

@{

    ViewData["Title"] = "Dashboard";


}
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



    <div onload="time()" id="dataehora" style="width: 800px; height: 400px; position: relative;"></div>



    <h1>Dashboard</h1>
    <div id="piechart_3d" style="width: 800px; height: 400px; position: relative;"></div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Horario)
                </th>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdCliente)
                </th>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdSuporte)
                </th>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Local)
                </th>
                <th class="col-sm-2 col-form-label-sm">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <!--   <th class="col-sm-2"> -->
                <!-- Html.DisplayNameFor(model => model.Distanciakm)-->
                <!-- </th> -->
            </table>
        </div>
    </div>


    <!-- <a asp-action="Index">Voltar para página inicial</a> -->
