@model WebApplication1.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Suporte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Checkin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkout)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distanciakm)
        </dt>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>

<body onload="time()">




    <div id="piechart_3d" style="width: 800px; height: 400px; position: relative;"></div>
</body>
