@model IEnumerable<WebApplication1.ViewModels.DashboardViewModel>

@{

    ViewData["Title"] = "Dashboard";


}

<link rel="stylesheet" type="text/css" href="~/css/site.css" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<thead>
    <h2 onload="time()" id="dataehora" style="width: 800px; height: 400px; position: relative;"></h2>

    <div id="piechart_3d" style="width: 800px; height: 400px; position: relative;"></div>
</thead>




<h1>Dashboard</h1>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <td class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Horario)

                </td>
                <td class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdCliente)
                </td>
                <td class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdSuporte)
                </td>
                <td class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Local)
                </td>
                <td class="col-sm-2 col-form-label-sm">
                    @Html.DisplayNameFor(model => model.Status)
                </td>
                <td class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </td>
            </tr>
            @foreach (var model in Model)
            {
                <tr>
                    <td class="col-sm-2">
                        @Html.DisplayFor(modelItem => model.Horario)
                    </td>
                    <td class="col-sm-2">
                        @Html.DisplayFor(modelItem => model.IdCliente)
                    </td>
                    <td class="col-sm-2">
                        @Html.DisplayFor(modelItem => model.IdSuporte)
                    </td>
                    <td class="col-sm-2">
                        @Html.DisplayFor(modelItem => model.Local)
                    </td>
                    <td class="col-sm-2 col-form-label-sm">
                        @Html.DisplayFor(modelItem => model.Status)
                    </td>
                    <td class="col-sm-2">
                        @Html.DisplayFor(modelItem => model.Status)
                    </td>
                </tr>

            }
            <!--   <th class="col-sm-2"> -->
            <!-- Html.DisplayNameFor(model => model.Distanciakm)-->
            <!-- </th> -->
        </table>
    </div>
</div>


<!-- <a asp-action="Index">Voltar para página inicial</a> -->
