@model IEnumerable<WebApplication1.Models.AgendaModel>

@{
    ViewData["Title"] = "HomePage";
}

<link rel="stylesheet" type="text/css" href="~/css/site.css" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="text-center">
  <!--  <h2 class="display-4">Alpha Sistemas</h2> -->
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <td class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Horario)
                </td>
                <td class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdCliente)
                </td>
                <td class="col-sm-2 ">
                    @Html.DisplayNameFor(model => model.Status)

                </td>
            </tr>

            @foreach (var model in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => model.Horario)

                    </td>
                    <td class="col-sm-2">
                        @Html.DisplayFor(modelItem => model.IdCliente)
                    </td>
                    <td class="col-sm-2 ">
                        <!-- Html.DisplayFor(modelItem => model.Status)
                         <!-- method="post" asp-action="CheckInOut" -->
                        <form>

                            <!--Para cada linha do banco aparece um botão checkin-->
                            <button class="checkInOutButton" type="submit">Checkin</button>
                        </form>
                    </td>
                </tr>
            }

            <!--   <th class="col-sm-2"> -->
            <!--       Html.DisplayNameFor(Detalhes) -->
            <!--   </th> -->

        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".checkInOutButton").click(function () {
                // possível toggle do texto do botão, mas não funcionou
                //$(".vazio").toggle();
                console.log("Chamou o CheckInOut");
                
                $(this).html($(this).html() == 'Checkin' ? 'Checkout' : 'Checkin');
                event.preventDefault();

                //$.ajax({
                //    type: 'POST',
                //    url: '/Home/CheckInOut',
                //    data: {},
                //    success: function (result) {
                //        $(this).html(result);
                //    },
                //    error: function (result) {
                //        console.log("Erro: ", result);
                //    }
                //});
            });
        });
    </script>
}