@model WebApplication1.Models.AgendaModel

@{
    ViewData["Title"] = "HomePage";
}

<div class="text-center">
    <!-- <h2 class="display-4">Alpha Sistemas</h2>   -->
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Horario)
                </th>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdCliente)
                </th>
                <th class="col-sm-2 ">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>

            @foreach (var model in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => model.Horario)
                    </td>
                    <td class="col-sm-2">
                        @Html.DisplayFor(modelItem => model.IdCliente)
                    </td>
                    <td class="col-sm-2 ">
                        @Html.DisplayFor(modelItem => model.Status)
                        
                        <!-- method="post" asp-action="CheckInOut" -->
                        <form>
                            <button id="checkInOutButton" type="submit">Checkin</button>
                        </form>
                    </td>
                </tr>
            }

            <!--   <th class="col-sm-2"> -->
            <!--       Html.DisplayNameFor(Detalhes) -->
            <!--   </th> -->
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#checkInOutButton").click(function () {
                event.preventDefault();
                
                $.ajax({
                    type: 'POST',
                    url: '/Home/CheckInOut',
                    data: { },
                    success: function (result) {
                        $("#checkInOutButton").html(result);
                        console.log("Chamou o CheckInOut");
                    },
                    error: function (result){
                        console.log("Erro: ", result);
                    }
                });
            });
        })
    </script>
}
